Repository Second-Hand-Friends/kleinanzeigen-bot, pull requests merged in 2025-04, with the labels that each got.

#476 fix: CSS selector 'button' not found
  src/kleinanzeigen_bot/extract.py
Labels: bug

#480 fix: correct setting custom shipping costs
  src/kleinanzeigen_bot/__init__.py
Labels: bug

#479 fix: Correct pagination selectors and logic for issue #477
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract.py
Labels: bug

#481 feat: captcha auto-restart
  README.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/__main__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/exceptions.py
  src/kleinanzeigen_bot/utils/loggers.py
Labels: enhancement, awaiting-feedback, works-for-me

#488 fix: logon detection and duplicate suffix in ad description
  src/kleinanzeigen_bot/__init__.py
Labels: bug

#483 feat: add support for multiple matching shipping options
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/config_defaults.yaml
  tests/unit/test_extract.py
Labels: enhancement

#493 fix: improve login detection with fallback element
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_extract.py
  tests/unit/test_init.py
Labels: bug
